@page "/"

<h1>Hello, world!</h1>
Welcome to your new app.
<div>
    <a href="/mycomponent">go to mycomponent</a>
</div>
<div>
    <a href="/mycomponent/10">go to mycomponent and pass int value=10 as part of the url</a>
</div>
<div>
    <a href="/mycomponent?id=100">go to mycomponent and pass data using string query</a>
</div>

